body {
  background-color: rgb(240, 235, 193);
}

.bold {
  font-weight: bold;
}

.top {
  margin-top: -10px;
}

.top2 {
  margin-top: -1px;
}

.column{
  float: left;
  width: 25%
}
hr {
  color: black; 
  border-width: 10px; 
  margin-left: 0;
  margin-right: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  overflow: hidden;
}

.header-content {
  font-size: 60px;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 0.5cm;
}

.Gabe {
  background-image: url(Gabe.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 400px;
  width: 400px;
  /* border-radius: 50; */
}

.Gabe-description {
  text-align: center;
}

.Samuel {
  background-image: url(Samuel.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 400px;
  width: 400px;
  /* border-radius: 50; */
}

.Sam-description {
  text-align: center;
}

.Samantha {
  background-image: url(Samantha.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 400px;
  width: 400px;
  /* border-radius: 50; */
}

.Samantha-description {
  text-align: center;
}

.Daniel {
  background-image: url(Dan.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 400px;
  width: 400px;
  /* border-radius: 50; */
}

.Daniel-description {
  text-align: center;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  overflow: auto;
  flex-wrap: wrap;
}

.course-info {
  font-size: 20px;
  width: 90ch;
}

.bottom {
  margin-bottom: -1px;
}